.list-style{
    background-color: #414141;
    color: #fff700;
    border: 2px solid #272b30;
}

.list-style:hover{
    color: white;
    background-color: #777777;
}

.list-group-item:focus {
  outline: none;
}

.active{
    background-color: #d97a2f;
}